.all_options{
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  h2{
    color: black;
    text-decoration: underline;
  }
  p{
    text-align: center;
    margin-top: auto;
  }
}

.box{
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  width: 20%;
  border-radius: 25px;
  border-style: solid;
}

.lists{

}


.bottom_text{
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}