.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 100px 150px;
    grid-auto-flow: row;
    grid-template-areas:
      "Buttons Buttons Buttons"
      "item_1 item_2 item_3"
      "item_4 item_5 item_6";
  }
  
  .Buttons{
    display: contents;
    gap: 20px;
     grid-area: Buttons; 
}
  
  .item_1 { grid-area: item_1; }
  
  .item_2 { grid-area: item_2; }
  
  .item_3 { grid-area: item_3; }
  
  .item_4 { grid-area: item_4; }
  
  .item_5 { grid-area: item_5; }
  
  .item_6 { grid-area: item_6; }

  
  