/* src/Pages/HomePage/HomePage.scss */
body {
    background: linear-gradient(135deg, #11A7BB, #31ED31);
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
    margin-top: 537px; /* Adjust based on the header height */
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
}